header{
    
    display: flex;
    grid-column: 1fr 2fr 1fr;
    justify-items: center;
    justify-content: space-between; 
    padding: 0;
    margin: 0;
    width: 100%; 
    box-sizing: border-box;
    flex-wrap: wrap;
}

ul li{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header > nav > ul > li > a > img{
    display: flex;
    flex-grow: 1;
    align-items: center;
    list-style: none;
    margin-inline-start: 0;
    padding: 0;
    height: 35px;
    gap: 100px;

}
  
header > form{
    display: flex;
    height: 40%;
    width: 250%;
    max-width: 600px;
    min-width: 100px;
    justify-content: center;

}

form > button {
    border-radius: 100px;
    background: none;
    border: none;
}

form > button:hover{
    background: rgb(235, 233, 233);
    border-radius: 50%;
}

input {
    width: 100%;
    max-width: 100%;
    min-width: none;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccccccb5;
    border-radius: 100px;
}

footer{
    display: none;
}

/* id */


#buscar{
    height: 20px;
    cursor: pointer;
}

#microfono{
    height: 20px;
    cursor: pointer;
}

#tuusuario{
    height: 45px;
}

#ñam{
    height: 40px;
    padding-top: 0%;
    display: none;
}

#tú{
    display: none;
}

#todo{
    background-color: black;
}

#todo > a{
    color: white;
}


/* clases */


.icon{
    display: flex;
    padding-right: 20px;
    gap: 20px;
    grid-row-end: 1fr 1fr 1fr;

}

.icon > li{
    cursor: pointer;
}

.icon > li:hover{
    background: rgb(204, 202, 202);
    border-radius: 45%;
}

.flex {
    display: flex;
    flex-grow: 1;
    padding-left: 0;
}

.column {
    max-width: 250px;
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.content {
    flex: 1; /* Ocupa el espacio restante */
    padding: 10px;
}

.lista {
    flex-direction:column;
    justify-content: flex-start;
    align-items: left;
    padding-left: 0px;
    padding-right: 15px;
    min-height:50vh;
    list-style:none;
}

.lista > li > a:hover{
        background: rgb(239, 238, 238);
        border-radius: 20%;
}

.lista2 > li > a:hover{
    background: rgb(239, 238, 238);
    border-radius: 20%;
}

.lista > li > a{
    background: transparent;
    cursor: pointer;
}

.lista2 > li > a{
    background: transparent;
    cursor: pointer;
}

.lista > li > a > img{
    height: 30px;
}

.lista2 > li > a > img{
    height: 30px;
}

.opciones{
    display: flex;
    gap: 2vw;
}

.opciones > button{
    cursor: pointer;
    border-radius: 10%;
    border: none;
    background-color: rgb(231, 231, 231);
    height: 25px;
}

.opciones > button:hover{
    background-color: rgb(212, 212, 212);
}

.opciones > button > a{
    font-size: 15px
}

.video {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; /* Espacio entre videos */
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.card-img {
    height: 230px;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.card-body{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding-top: 5px;
    gap: 20px;
    cursor: pointer;
}

.card-body > p {
    margin-top: 8px;
    font-size: 18px;
}

.usuario{
    height: 50px;
    border-radius: 100px;
}

.puntos{
    padding-top: 10px;
    height: 20px;
}

.puntos:hover{
    background: rgba(209, 208, 208, 0.803);
    border-radius: 50%;
}

.shorts{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 0px; 
}

.card2{
    display: flex;
    flex-direction: column;  
}

.card-img2 {
    height: 500px;
    width: 350px;
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .video{
        grid-template-columns: repeat(2, 1fr);
        }
}

@media (max-width: 1000px){
    .extra{
        display: none;
    }
}

@media (max-width: 963px) {
    header {
        flex-wrap: wrap;
    }

    header > nav {
        display: flex;
        flex-direction: row;
    }

    header > nav > ul > li > a > img{
        min-width: 10px;
        min-height: auto;
    }

    header > form {
        order: 2;
        width: 100%;
        min-width: 200px;
        justify-items: end;
    }

    #ñam{
        display: inline;
    }

    #tú{
        display: inline;
    }

    .extra2{
        display: none;
    }

    .lista2{
        display: none;
    }
    
}


@media (max-width: 740px) {

    .extra2{
        display: none;
    }

    .video{
        grid-template-columns: 1fr;
        }

   .card {
    padding: 5vw;
    width: 65vw;
    }     

    .card-img {
        height: 40vw;
        width: 65vw;  
    }

    .card-body{
        gap: 0px;
    }
    
    .card-body > p {
        margin-top: 5px;
        font-size: 16px;
    }
}

@media (max-width: 635px) {

    main {
        margin-bottom: 55px; /* crea una zona en blanco abajo */
    }

    footer{
        display: inline;
        position: fixed; /* Hace que esté fijo */
        bottom: 0; /* Para que se vea abajo del todo */
        width: 100%;
        background-color: rgb(238, 239, 240);
        border-top: 1px solid #6b6b6b9d;
    }
    
    footer > ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }
    
    footer > ul > li{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    
    footer > ul > li > img{
        height: 25px;
        width: 25px;
    }

    footer > ul > li > p {
        margin: 0; /* bye bye margen predeterminado */
    }


    #extra{
        display: none;
    }

    .column{
        display: none;
    }

    .card {
        padding: 5vw;
        width: 80vw;
        } 

    .card-img {
        height: 50vw;
        width: 80vw;  
    }

    .card-body > p {
        font-size: 18px;
    }

    .shorts{
        grid-template-columns: repeat(2, 1fr);
    }

}